		<section id="main">
			<div class="renglonGutter"></div>

			<div class="row">
				<div class="col">
					<h1>La página no existe</h1>
				</div>
			</div>

			<div class="row">
				<div class="col">
					La página que está intentando ver no existe.
					<br><br><br><br><br><br><br><br><br><br><br>
					<br><br><br><br><br><br><br><br><br><br><br>
				</div>
				<!--div class="columnaE gutter">
					{$menuSecundario}
					<div class="material bordeGris">
						<div class="barraTitulo texto-blanco bg-azulgris ico ico-valentia">Servicios destacados</div>
						<div class="innerContent">
							<ul class="optionsButtons">
								<li><a href="">Solicita una VPN</a></li>
								<li><a href="">Solicita o reporta equipos</a></li>
								<li><a href="">Desbloqueo de páginas web</a></li>
								<li><a href="">Solicitud de acceso a SAP</a></li>
								<li><a href="">Tickets de servicio</a></li>
							</ul>
						</div>
					</div>
					<div class="renglonGutter"></div>
					<div class="material bordeGris bg-gris13">
						<div class="barraTitulo texto-blanco  bg-azulgris ico ico-compromiso">Opina</div>
						<div class="innerContent encuestaHome">
							<p>¿Te parece útil la información de este sitio web?</p>
							<div class="opciones">
								<div><input type="radio" name="opinion" id="op1"> <label for="op1">Sí</label></div>
								<div><input type="radio" name="opinion" id="op2"> <label for="op2">Sí, pero podría mejorarse</label></div>
								<div><input type="radio" name="opinion" id="op3"> <label for="op3">No</label></div>
							</div>
							<div>Comentarios</div>
							<textarea name="opiniontext" id="opiniontext" rows="3"></textarea>
							<div class="aright">
								<button id="enviarComentarios" class="material btn bg-verdeagua texto-blanco">Enviar</button>
							</div>
						</div>
					</div>
				</div-->
			</div>

		<div class="row">
			<!--div class="col ultimaActualizacion">Última actualización: {$ultimaActualizacion}</div-->
		</div>

		</section><!--//#main-->
