<section id="main">
	<div class="renglonGutter"></div>
	<div class="row no-gutters">
		<div class="columnaI gutter" id="primeraColumna">

			<div class="bg-azulgris texto-blanco" id="directorio">
				<label for="nombre">Directorio biossmann:</label><br />
				<input type="text" name="nombre" id="nombre" placeholder="Nombre, apellido, correo o celular:" />
				<button class="btn ixSubmit search texto-blanco bg-verdeagua"><i class="fa fa-search"></i></button>
				<button class="btn ixSubmit clear bg-grismedio texto-grisclaro"><i class="fa fa-times"></i></button>
			</div>
			<div class="bloqueResultadoDirectorio transicionLenta material" style="height: 0px;">
				<!--DIRECTORIO LISTADO-->
				<div class="resultsBox transicionLenta columna5F" style="height: 0px;">
					<div class="container transicionLenta"></div>
				</div>
				<!--DIRECTORIO DETALLE-->
				<div class="detailBox transicionLenta columnaC" style="right: -100%;">
					<div class="container transicionLenta"></div>
				</div>
			</div>

			<div class="renglonGutter"></div>

			<div class="row no-gutters">
				<div class="col">
					<!--div class="material bordeGris aleft" id="contenedorBanners">
						<button class="material btn bg-azulgris texto-blanco positionLeft positionTop">Consulta el... </button>
						<div class="apuntador">
		           			<ul>
			                    <li id="bannLink1"><a href="" style="background-color: rgba(206, 231, 2, 0.4);">&nbsp;</a></li>
			                    <li id="bannLink2"><a href="" style="background-color: rgba(206, 231, 2, 0.8);">&nbsp;</a></li>
			                    <li id="bannLink3"><a href="" style="background-color: rgba(206, 231, 2, 0.4);">&nbsp;</a></li>
		                    </ul> 
		          		</div>
						<div class="banner">
						<img src="img/banner/bann-dias-festivos.png" alt="Calendario de días festivos" />
						</div>
					</div-->
		<div class="columna columna2C margenIzq rightAlign material" id="contenedorBanners">
          
          <div class="apuntador" style="">
            <ul>
                <!--li id="bannLink1"><a href="" style="background-color: rgba(0, 0, 0, 0.4);">&nbsp;</a></li>
                <li id="bannLink2"><a href="" style="background-color: rgba(0, 0, 0, 0.4);">&nbsp;</a></li>
                <li id="bannLink3"><a href="" style="background-color: rgba(0, 0, 0, 0.8);">&nbsp;</a></li-->
            </ul> 
          </div>
          <div class="banner transicion 3 naranja" banner="3">
            <a href="/talento-humano"><!--banner link-->
              <div class="img">
                <img src="{$APP_URL}img/banner/bann-valor-innovacion_v2.png" alt="Valores Biossmann">
              </div>
              <!--div class="texto">
                Banner de prueba                <br>
                <span>Grupo Biossmann palabras palabras Grupo Biossmann palabras palabras Grupo Biossmann palabras palabras Grupo Biossmann palabras palabras Grupo Biossmann pn pax ax ax axxx</span>
              </div-->
            </a><!--//banner link-->
          </div><!--//banner-->
          <div class="banner transicion 2 verde" banner="2">
            <a href="#"><!--banner link-->
              <div class="img">
                <img src="{$APP_URL}img/banner/bann-valor-pasion_v2.png" alt="Valores Biossmann">
              </div>
              <!--div class="texto">
                Felicidades a todos los que cumplen años!                <br>
                <span>Mayo, 2017</span>
              </div-->
            </a><!--//banner link-->
          </div><!--//banner-->
          <div class="banner transicion 1 morado" banner="1">
            <a href="/corporativo"><!--banner link-->
              <div class="img">
                <img src="{$APP_URL}img/banner/bann-dias-festivos_v2.png" alt="Calendario de días festivos">
              </div>
              <!--div class="texto">
                Nuestro trabajo tiene sentido<br>
                <span>Grupo Biossmann</span>
              </div-->
            </a><!--//banner link-->
          </div><!--//banner-->
        </div>
						</div>
					</div>

					<div class="renglonGutter"></div>

					<div class="row no-gutters toolsSection">
						<div class="col">
							
							<div class="row no-gutters">
								<div class="col gutter">
									<div class="bordeGris bg-azulgris efectoRealce"><a href="http://qvserver.biossmann.com/qlikview/login.htm" target="_blank">
										<div class="ico-restringido-float"><i class="fa fa-key"></i></div>
										<div class="img"><img src="img/img-prosperidad.png" alt="prosperidad"></div>
										<div class="texto">Tableros de control</div>
									</a></div>
								</div>
								<div class="col gutter">
									<div class="bordeGris bg-azulgris efectoRealce"><a href="{$siteURL}apps-biossmann">
										<div class="ico-restringido-float"><i class="fa fa-key"></i></div>
										<div class="img"><img src="img/img-innovacion.png" alt="innovacion"></div>
										<div class="texto">Apps biossmann</div>
									</a></div>
								</div>
								<div class="col gutter">
									<div class="bordeGris bg-azulgris efectoRealce"><a href="{$siteURL}preguntas-frecuentes">
										<div class="img"><img src="img/img-pasion.png" alt="pasion"></div>
										<div class="texto">Preguntas frecuentes</div>
									</a></div>
								</div>
							</div>

							<div class="renglonGutter"></div>

							<div class="row no-gutters">
								<div class="col gutter">
									<div class="bordeGris bg-gris-biossmann efectoRealce"><a href="https://universidadbiossmann.com/transformacion/" target="_blank" class="acenter"><img src="img/img-transformacion.png" alt=""></a></div>
								</div>
								<div class="col gutter">
									<div class="bordeGris bg-blanco efectoRealce"><a href="https://universidadbiossmann.com" target="_blank" class="acenter"><img src="img/img-universidad-biossmann.png" alt=""></a></div>
								</div>
								<div class="col gutter">
									<div class="bordeGris bg-blanco efectoRealce"><a href="http://www.biossmann.com/" target="_blank" class="acenter"><img src="img/img-portal-biossmann.png" alt=""></a></div>
								</div>
							</div>

							<div class="renglonGutter"></div>

						</div>
					</div>

				</div><!--//#primeraColumna-->

				<div class="columnaF gutter" id="segundaColumna">
					<div class="bordeGris mesaayudaSection clickeable transicion">
						<div class="covertura transicion">
							<div class="barraTitulo texto-blanco bg-azulgris transicion"><i class="fa fa-headset shadowed"></i> Solicita <span class="strong">Ayuda</span></div>
							<div class="innerContent bg-gris13 bordeGris transicion">
								<div class="row">
									<div class="col-3"></div>
									<div class="col-6 bg-blanco redondear setpadding5 formSection">
										<div class="acenter setpadding5"><img src="{$siteURL}img/logo-sae.png" alt="SAE" /></div>
										<div class="espaciador"></div>
										<p>Déjanos tus datos para que alguien del SAE atienda tu solicitud:</p>
										<div class="form-row">
											<div class="col-3">
												<div class="form-group">
													<label for="sae_nombre">Nombre:</label>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<input type="text" class="form-control" id="sae_nombre" name="sae_nombre" />
												</div>
											</div>
										</div>
										<div class="form-row">
											<div class="col-3">
												<div class="form-group">
													<label for="sae_mail">Correo electrónico:</label>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<input type="email" class="form-control" id="sae_mail" name="sae_mail" />
												</div>
											</div>
										</div>
										<div class="form-row">
											<div class="col-3">
												<div class="form-group">
													<label for="sae_telefono">Teléfono:</label>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<input type="text" class="form-control" id="sae_telefono" name="sae_telefono" />
												</div>
											</div>
										</div>
										<div class="form-row">
											<div class="col-3">
												<div class="form-group">
													<label for="sae_area">Área:</label>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<input type="text" class="form-control" id="sae_area" name="sae_area" />
												</div>
											</div>
										</div>
										<div class="form-row">
											<div class="col-3">
												<div class="form-group">
													<label for="sae_sitiotrabajo">Sitio de Trabajo:</label>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<input type="text" class="form-control" id="sae_sitiotrabajo" name="sae_sitiotrabajo" placeholder="Por ejemplo: Hospital, Mixcoac o Ándes" />
												</div>
											</div>
										</div>
										<div class="form-row">
											<div class="col-3">
												<div class="form-group">
													<label for="sae_comentario">Comenta brevemente cuál es tu problema:</label>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<textarea class="form-control" id="sae_comentario" name="sae_comentario" data-max-words="200"></textarea>
													<div class="miniCounter" for="sae_comentario"></div>
												</div>
											</div>
										</div>
										<div class="boxResponseSAE"></div>
										<div class="row">
											<div class="col">
												<button class="btn btn-success" id="btnEnviarSAE">Enviar</button> <button class="btn btn-secondary" id="btnCancelarSAE">Cancelar</button>
											</div>
										</div>
										
									</div>
									<div class="col-3"></div>
								</div>
								<!--ul class="optionsButtons">
									<li><a href=""><img src="img/ico-new-ticket.png" alt="">Levantar ticket</a></li>
									<li><a href=""><img src="img/ico-search-ticket.png" alt="">Estatus de tu ticket</a></li>
									<!- -li><a href=""><img src="img/ico-statistics-ticket.png" alt="">Estadística de servicio</a></li- ->
								</ul-->
							</div>
						</div>
					</div>

					<div class="renglonGutter"></div>

					<div class="row no-gutters">
						<div class="col gutter mainSections">
							<div class="bordeGris efectoRealce">
								<a href="{$siteURL}biossmann">
									<div class="unaLinea"><span class="strong">Biossmann</span> </div><div class="icon icon-biossmann"></div>
								</a>
								<div class="fixed"></div>
							</div>
							<div class="renglonGutter"></div>
							<div class="bordeGris efectoRealce">
								<a href="{$siteURL}calidad">
									<div><span class="strong">Políticas</span><span class="break"></span>y Procedimientos</div><div class="icon icon-calidad"></div>
								</a>
								<div class="fixed"></div>
							</div>
							<div class="renglonGutter"></div>
							<div class="bordeGris efectoRealce">
								<a href="{$siteURL}productos-y-servicios">
									<div><span class="strong">Productos</span> <span class="break"></span> y Servicios</div><div class="icon icon-productos"></div>
								</a>
								<div class="fixed"></div>
							</div>
						</div>
					</div>

					<!--div class="renglonGutter"></div>

					<div class="row no-gutters">
						<div class="col">
							<div class="bordeGris galeriaContainer efectoRealce">
								<a href="{$APP_URL}galeria-biossmann"><img src="img/img-galeria-biossmann-vert.png" alt="Galería Biossmann"></a>
							</div>
						</div>
					</div-->	
					<!--NEW GALERIA-->
					<div class="renglonGutter"></div>

					<div class="row no-gutters">
						<div class="col">
							<div id="zoomFoto"></div>
							<div class="bordeGris galeriaContainer">
								{$imagesGaleria}
								<div class="botonera">
									<button class="btn" id="btnPrevFoto"><i class="fa fa-chevron-left"></i></button>
									<button class="btn" id="btnViewFoto"><i class="fa fa-eye"></i></button>
									<button class="btn" id="btnNextFoto"><i class="fa fa-chevron-right"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!--//END NEW GALERIA-->				
				</div><!--//#segundaColumna-->
				<div class="columnaF gutter" id="terceraColumna">
					<div class="bordeGris bg-gris13">
						<div class="barraTitulo texto-blanco  bg-azulgris ico ico-compromiso">Opina</div>
						<div id="graphOpina" class="d3graph transicionLenta"></div>
						<div class="innerContent encuestaHome">
							<p>¿Te parece útil la información de este sitio web?</p>
							<div class="opciones">
								<div><input type="radio" name="opinion" id="op1" class="encuestaOpcion" value="1" /> <label for="op1">Sí</label></div>
								<div><input type="radio" name="opinion" id="op2" class="encuestaOpcion" value="2"  /> <label for="op2">Sí, pero podría mejorarse</label></div>
								<div><input type="radio" name="opinion" id="op3" class="encuestaOpcion" value="3" /> <label for="op3">No</label></div>
							</div>
							<div>Comentarios</div>
							<textarea name="opiniontext" id="opiniontext" rows="2"></textarea>
							<div class="aright">
								<button id="enviarComentarios" class="btn bg-verdeagua texto-blanco efectoRealce">Enviar</button>
							</div>
						</div>
					</div><!--//.material > Opina-->
					<div class="renglonGutter"></div>
					<div class="bordeGris">
						<div class="barraTitulo texto-blanco bg-azulgris ico ico-valentia">Portales de interés</div>
						<div class="innerContent">
							<ul class="optionsButtons btnsBlancos">
								<li><a href="https://fmcaac.mx/" class="efectoRealce" target="_blank">Federación Mexicana de Colegios de Anestesiología</a></li>
								<li><a href="http://www.consejoanestesia.org" class="efectoRealce" target="_blank">Consejo Nacional de Certificación en Anestesiología</a></li>
								<li><a href="http://www.imss.gob.mx/" class="efectoRealce" target="_blank">Instituto Mexicano del Seguro Social</a></li>
								<li><a href="https://www.gob.mx/issste" class="efectoRealce" target="_blank">Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado</a></li>
								<li><a href="https://dof.gob.mx/" class="efectoRealce" target="_blank">Diario Oficial de la Federación</a></li>
							</ul>
						</div>
					</div><!--//.material > Portales de interés-->
				</div><!--//#terceraColumna-->
			</div>

		</section><!--//#main-->