# Info files
_info/*

# logs files
_logs/*

# design files
_design/*
_diseño/*

# screensaver
sabias/*

# directorios de subida de imagenes y archivo
webfiles/*
webimgs/*

# copias
admin_ORIG/*

**/.DS_Store
*/.DS_Store
.DS_Store