<div class="btnReturn clickeable">
	<a class="flecha" onclick="cerrarDetalle()"><i class="fa fa-chevron-right"></i></a>
</div>	
<div class="bloqueinfopersona">
	<div class="main">
		<!--div class="foto" style="background-image:url('img/fotos/{$foto}')"></div-->
		<div class="textos">
			<div class="nombre">{$nombreCompleto}</div>
			<div class="puesto">{$puesto}</div>
		</div>
		<div class="fixed"></div>
	</div><!--//.main-->
	<div class="area">
		<div class="desc">Área</div>
		<div class="nombre">{$area}</div>
	</div><!--//.area-->
	<div class="detail">
		{$botones}
	</div><!--//.area-->
</div>