<div class="opciones boxNewPage" style="display:none" option-2-block="{$id}">
	<div class="fleft">
		<div class="mapicon">
			<ul>
				<li><a href="{$link}inf/{$id}" title="Nueva página en esta sección"><i class="fa fa-arrow-left colorVerde"></i></a></li>
				<li><span class="label">{$nombre} (página actual)</span>
					<ul>
						<li class="end"><a href="{$link}child/{$id}" title="Nueva página en esta sección"><i class="fa fa-arrow-left colorVerde"></i></a></li>
					</ul>
				</li>
				<li><a href="{$link}sup/{$id}" title="Nueva página en esta sección"><i class="fa fa-arrow-left colorVerde"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="fleft"><a href="#" title="Cerrar opciones" class="btnCerrar" onclick=""><i class="fa fa-times"></i></a></div>
	<div class="fixed"></div>
</div>