#workArea{background-color:#f0f0f0;padding:16px 25px;vertical-align:top;text-align:left;}

.mapsite{text-align:left}
.mapsite ul{margin:0px;padding:0px;list-style:none;margin-left:6px}
.mapsite ul ul{margin-left:2px;}
.mapsite ul li{background:url("../img/mapsite/nivel.gif") no-repeat left top;padding:4px 3px;padding-left:22px;text-align:left}
.mapsite ul li.end{background:url("../img/mapsite/end.gif") no-repeat left top;}
.mapsite a{color:#000000;/*display:block;*/}
.mapsite a.inactivo{color:#6c6c6c;/*display:block;*/}
.mapsite .invisible{background:url("../img/back-invisible.gif");/*display:block;*/}

.mapsite div,
.mapsite div a.mainSite{font-weight:bold;font-size:1.2em;}
.mapsite div a.mainSite{font-size:1em;color:#E6650F}
.mapsite div a.mainSite:hover{color:#cd3d17}
.mapsite div img{margin-right:5px;}
.mapsite a:hover{color:#f36f00;}
.mapsite .separador{border:0px none;border-bottom:1px dotted #8f8f8f;border-top:1px dotted #8f8f8f;height:3px;margin:12px 5px 45px;}
.mapsite .inactivo a{color:#999;}
.mapsite ul li .mapsite ul li{padding:7px 3px 7px 22px !important;}

.opciones{position:absolute;margin:-26px 0px 0px 0px;background:#fafafa;border-right:1px solid #7c7c7c;border-bottom:1px solid #7c7c7c;/*filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8;*/}
.opciones .marco{border:1px solid #7c92bc;padding:1px;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.opciones a{float:left;display:block;padding:1px 2px 1px 3px;border:1px solid #f4f4f4;border-bottom-color:#b4b4b4;border-right-color:#b4b4b4;}
.opciones a.btnCerrar{border:0px none;}
.opciones a:hover{border:1px solid #b4b4b4;padding:2px 0px 0px 5px;border-bottom-color:#f4f4f4;border-right-color:#f4f4f4;background-color:#ebf3bc;}
.opciones a.btnCerrar:hover{border:0px none;background-color:#FFF;}
.boxNewPage{margin-top:15px;}
.boxNewPage .marco{padding:3px 3px 3px 8px;}

.botones a{float:left;display:block;padding:1px 3px 3px 1px;border:1px solid #f4f4f4;border-color:#f4f4f4 #b4b4b4 #b4b4b4 #f4f4f4;background:white;}
.botones a:hover{border:1px solid #b4b4b4;padding:2px 2px 2px 2px;border-color:#b4b4b4 #f4f4f4 #f4f4f4 #b4b4b4;background-color:#ebf3bc;}

#subMenu{width:75px;padding:4px;background-color:#3e5266;vertical-align:top;}
#subMenu a{color:#c7c7c7;display:block;border:1px solid #f4f4f4;border-bottom-color:#b4b4b4;border-right-color:#b4b4b4;text-decoration:none;text-align:center;padding:2px 3px 3px 2px;background:white}
#subMenu a img{border:0px none;}
#subMenu a:hover{color:#505050;border:1px solid #b4b4b4;border-bottom-color:#f4f4f4;border-right-color:#f4f4f4;background-color:#ebf3bc;padding:3px 2px 2px 3px;}

.backWhite{background:white}
.backGrey{background:#EAEAEA}
.backGreyLight{background:#F5F5F5}