body{margin:0 auto;background:#FFF;}
*{font:11px Verdana, Arial, Helvetica, sans-serif;color:#333;}

.layout{border:0px;border-collapse:collapse;}
.layout td{padding:0px;}
.fleft{float:left;}
.fright{float:right;}
.fixed{clear:both;font-size:0px;}
img{border:0 none;}
a{color:#1672bb;text-decoration:none;}
form{margin:0px;}
label{font:bold 1.1em "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#3E5266}
.anchoMax{background:#cac8c8}
.workArea{padding:16px 25px;vertical-align:top;text-align:left;}
h1{color:#155a9f;}
h2{color:#5e5d57;}
h3{color:#9a875b;}
h2 strong,
h3 strong{line-height:1.2em}
h4{color:#5e5d57;}
.clickeable{cursor:pointer;}
#mainContainer{margin:10px auto 0px;width:95%;text-align:center;background-color:#FFF}
#mainContainer table{text-align:left}

#header{background:#f4f4f4 url("../img/header-crn-rt.gif") no-repeat right top;}


.separador{background:#cac8c8;height:7px;}
.btnSalir{width:57px;height:16px;background:url("../img/btn/salir.gif") no-repeat left top;display:block;}
.btnSalir:hover{background-image:url("../img/btn/salir-h.gif");}


.imgAcceso{display:block;width:20px;height:16px;float:left;margin-right:10px}
.imgFile{background:url("../img/ico/archivo.png") no-repeat center center;}
.imgTree{background:url("../img/ico/tree.png") no-repeat center center;}
.imgFobos{background:url("../img/ico/fobos.png") no-repeat center center;}
.imgUsr{background:url("../img/ico/usuario.png") no-repeat center center;}
.imgCnf{background:url("../img/ico/config.png") no-repeat center center;}
.imgAnio{background:url("../img/ico/calendar.png") no-repeat center center;}
.imgBuscar{background:url("../img/ico/buscar.png") no-repeat center center;}
.imgPerfil{background:url("../img/ico/config.png") no-repeat center center;}
.imgBlog{background:url("../img/ico/lapiz.png") no-repeat center center;}
.imgNota{background:url("../img/ico/nota.png") no-repeat center center;}
.imgDice{background:url("../img/ico/globo.png") no-repeat center center;}
.imgNoticia{background:url("../img/ico/news.png") no-repeat center center;}
.imgLink{background:url("../img/ico/listas.png") no-repeat center center;}
.imgBanner{background:url("../img/ico/banner.png") no-repeat center center;}
.imgCalidad{background:url("../img/ico/calidad.png") no-repeat center center;}
.imgFlash{background:url("../img/ico/flash.png") no-repeat center center;}
.imgDestacado{background:url("../img/ico/destacado.png") no-repeat center center;}


#breadcrumb{background:#393939;text-align:left;color:#e9e9e9;padding:3px 11px;}
#breadcrumb a{color:#919191;font-weight:normal;}
#breadcrumb a:hover{color:#FFF}
#ubicator{background:#d6d5d5;text-align:left;padding:4px 10px;}

#ubicator .fleft{color:#393939;font:normal 1.8em "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;text-align:left;}


#footer{background:#3c3b3b;text-align:right}
#footer .ini{background:url("../img/footer-ini.gif") no-repeat left bottom;}
#footer .end{background:url("../img/footer-end.gif") no-repeat right bottom;}
#footer .inner{padding:4px 10px 5px;color:#fe850f;}


#contentContainer{border:1px solid #d7d7d7;padding:10px 5px 25px;}

.aviso{font-weight:bold;background-color:#900;color:white;padding:3px}
.nota{color:#FF9900;font-size:.8em;}

table.datos{border:1px solid #CCC;border-color:#ddd #a4a3a3 #a4a3a3 #ddd;/*border-collapse:collapse;*/text-align:center;width:90%;margin:0px auto;}
table.datos td,
table.datos th{border:1px solid #CCC;padding:4px 8px;cursor:default;}
table.datos th{background:#efefef url("../img/back-th.gif") repeat-x left top;border-color:#FFF #ebebeb #8d8b8b #f7f7f7;}
table.datos th,
table.datos th a{color:#4f5d64;font-weight:bold;}
table.datos th a:hover{color:#1672bb;}
table.datos td{border-color:#f6f6f6 #f6f6f6 #f6f6f6 #dddddd;}
table.datos .first td{background:#f6f6f6 url("../img/back-td.gif") repeat-x left top;border-top-color:#c8c8c8}
table.datos .z td{background:#f6f6f6;}

table.datos .cellOff td{background:#bababa;}
table.datos tr:hover td{background:#5d91be;color:#FFF;border-right-color:#7cabd4;border-left-color:#3a6991;cursor:default;}
table.datos tr:hover td a{color:#FF0;}
table.datos .inactivo td{background:#e1e1e1;color:#666}
table.datos tr.inactivo:hover td{background:#666;color:#FFF}

table.form{text-align:center;margin:0px auto;}
table.form td,
table.form th{padding:4px 8px;}
table.form td{text-align:left;}
table.form th{text-align:right;}

table.filtro{border:1px solid #c8c8c8;background:#efefef url("../img/back-th.gif") repeat-x left top;margin-bottom:10px;text-align:center;margin:0px auto;}

.orderDesc{background:url("../img/ico/desc.gif") no-repeat right center;padding-right:14px;}
.orderAsc{background:url("../img/ico/asc.gif") no-repeat right center;padding-right:14px;}

.btnContainer{display:block;padding:4px !important;}
.btn{cursor:pointer;}
.btn .inner{display:block;background:url("../img/btn/m.gif") repeat-x left top;height:100%;}
.btn .text{float:left;font:bold 1.2em Calibri,Arial, Helvetica, sans-serif !important;padding-top:2px;color:#FFF;margin:0px 0px 0px 4px;}
.btn img{float:left;margin:1px 0px 2px;}
.btn .crnl{background:url("../img/btn/crn-l.gif") no-repeat left top;height:100%}
.btn .crnr{background:url("../img/btn/crn-r.gif") no-repeat right top;height:20px;padding:1px 11px;text-align:center;}
.btn:hover .inner{background-image:url("../img/btn/m-h.gif");}
.btn:hover .crnl{background-image:url("../img/btn/crn-l-h.gif")}
.btn:hover .crnr{background-image:url("../img/btn/crn-r-h.gif")}
/*NARANJA*/
.naranja .text{color:#000}
.naranja .crnl{background-image:url("../img/btn/crn-nar-l.gif")}
.naranja .crnr{background-image:url("../img/btn/crn-nar-r.gif")}
.naranja .inner{background-image:url("../img/btn/m-nar.gif")}
.naranja:hover .inner{background-image:url("../img/btn/m-nar-h.gif")}
.naranja:hover .crnl{background-image:url("../img/btn/crn-nar-l-h.gif")}
.naranja:hover .crnr{background-image:url("../img/btn/crn-nar-r-h.gif")}
/*AZUL*/
.azul .text{color:#FFF}
.azul .crnl{background-image:url("../img/btn/crn-azul-l.gif")}
.azul .crnr{background-image:url("../img/btn/crn-azul-r.gif")}
.azul .inner{background-image:url("../img/btn/m-azul.gif")}
.azul:hover .inner{background-image:url("../img/btn/m-azul-h.gif")}
.azul:hover .crnl{background-image:url("../img/btn/crn-azul-l-h.gif")}
.azul:hover .crnr{background-image:url("../img/btn/crn-azul-r-h.gif")}
/*VERDE*/
.verde .text{color:#FFF}
.verde .crnl{background-image:url("../img/btn/crn-verde-l.gif")}
.verde .crnr{background-image:url("../img/btn/crn-verde-r.gif")}
.verde .inner{background-image:url("../img/btn/m-verde.gif")}
.verde:hover .inner{background-image:url("../img/btn/m-verde-h.gif")}
.verde:hover .crnl{background-image:url("../img/btn/crn-verde-l-h.gif")}
.verde:hover .crnr{background-image:url("../img/btn/crn-verde-r-h.gif")}
/*RECT*/
.rrect .crnr,
.lrect .crnl,
.drect .crnl,
.drect .crnr,
.rrect :hover .crnr,
.lrect :hover .crnl,
.drect :hover .crnl,
.drect :hover .crnr{background-image:url("../img/btn/rect.gif")}

.dynamicText{width:400px;height:450px}
.backSubTools{background:white}

#botonesVert{width:23px;padding:2px;vertical-align:top;background-color:#3e5266}
#botonesVert .botones{width:23px;}
#botonesVert a{float:left;display:block}

.botones .btnActivo{width:17px;height:17px;background:white url("../img/ico/activo.gif") no-repeat 2px 2px}
.botones .btnActivo:hover{background:#ebf3bc url("../img/ico/inactivo.gif") no-repeat 3px 3px}
.botones .btnInactivo{width:17px;height:17px;background:white url("../img/ico/inactivo.gif") no-repeat 2px 2px}
.botones .btnInactivo:hover{background:#ebf3bc url("../img/ico/activo.gif") no-repeat 3px 3px}
.botones .btnVisible{width:17px;height:17px;background:white url("../img/ico/visible.gif") no-repeat 2px 2px}
.botones .btnVisible:hover{background:#ebf3bc url("../img/ico/invisible.gif") no-repeat 3px 3px}
.botones .btnInvisible{width:17px;height:17px;background:white url("../img/ico/invisible.gif") no-repeat 2px 2px}
.botones .btnInvisible:hover{background:#ebf3bc url("../img/ico/visible.gif") no-repeat 3px 3px}

/*Calendario*/
table.abierto{border-collapse:separate !important;}
table.abierto th,table.abierto td{padding:3px !important;}

div#dynCalendar_layer_0 table{border:1px solid #8a8a8a !important;}
div#dynCalendar_layer_1 table{border:1px solid #8a8a8a !important;}
div#dynCalendar_layer_2 table{border:1px solid #8a8a8a !important;}

.dynCalendar{width:150px;}
.dynCalendar td{padding:3px 5px!important;}
.dynCalendar_main{width:240px;background:#FFFFFF;border:1px solid #8A8A8A;padding:0px;}
.dynCalendar_header{padding:1px;}

.dynCalendar select{font-size:11px;}
.dynCalendar option{font-size:11px;padding:1px 2px;}

a.dynCalendar_daynumber{font-size:11px;font-weight:normal;color:#0066CC !important;text-decoration:none;}
a.dynCalendar_daynumber:hover{background:#666465;color:white !important;font-size:11px;}
.dynCalendar_dayname{font-size:11px;background:#3983c5;color:white;}
.divPaginador{text-align:center;margin:0px auto;width:60%}
.btnForm{display:block;width:71px;height:22px;padding-top:4px;background:url("../img/btn/btn.gif") no-repeat left top;cursor:pointer;text-align:center;float:left;margin-right:3px;}

.bannerMuestra{max-width: 400px;}

.actualCat{border:1px solid #bbb;box-shadow: 3px 3px 3px rgba(0,0,0,0.5); vertical-align: top;}
.bloqueCalidadEmpresa{border:1px solid #ddd;display:inline-block; vertical-align: top;}
.bloqueCalidadEmpresaNombre{display:inline-block;font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; font-size:2em;}